.wrapper {
  display: flex;
  flex-direction: column;

  position: relative;
}

.container {
  display: flex;
}

.content {
  flex: 1;
  overflow-y: scroll;
  height: 100vh;
}
.content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.btnGetapp {
  display: block;
}
